<div class="card text-center container_card">
  <div class="card-header">
    {{local}} vs. {{visitante}}
  </div>
  <div class="card-body">
    <table id="tblProximoPartido">
       <tr>
          <td>   
             <img src="{{urlLocal}}"  id="tblImagenLocal">          
          </td>
          <td>
             <table id="tblSubTabla">
                <tr>
                   <td id="tblVs" style="font-size: 6vh;">3-0</td>
                </tr>                
             </table>
          </td>
          <td>              
            <img src="{{urlVisitante}}" id="tblImagenVisitante">                
          </td>
       </tr>          
       <tr>
           <td colspan="3" id="tblFecha"> <br><hr class="w3-border-grey" style="margin:auto;width:60%"><br></td>
       </tr> 
       <tr>
           <td colspan="3" id="tblFecha"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;&nbsp;{{fecha}}</td>
       </tr>
       <tr>
          <td colspan="3" id="tblDescripcion"><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;&nbsp;{{descripcion}}</td>
       </tr>
       <tr>
          <td colspan="3" id="tblEstadio"><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;{{estadio}}</td>
       </tr>      
        
    </table>
  </div>
  <div class="card-footer text-muted">
    <br><a href="https://facebook.com/portalverdolaga" class="fa fa-facebook-official fa-2x" aria-hidden="true"></a> <a href="https://twitter.com/portalverdolaga" class="fa fa-twitter-square fa-2x" aria-hidden="true"></a> <a href="https://instagram.com/portal.verdolaga" class="fa fa-instagram fa-2x" aria-hidden="true"></a> <a href="http://portalverdolaga.com/snapchat" class="fa fa-snapchat-square fa-2x" aria-hidden="true"></a>
  </div>
</div>
