<div class="card text-center container_card">
  <div class="card-header">
    TORNEOS
  </div>  
  <div class="card-footer text-muted">
    <br><a href="https://facebook.com/portalverdolaga" class="fa fa-facebook-official fa-2x" aria-hidden="true"></a> <a href="https://twitter.com/portalverdolaga" class="fa fa-twitter-square fa-2x" aria-hidden="true"></a> <a href="https://instagram.com/portal.verdolaga" class="fa fa-instagram fa-2x" aria-hidden="true"></a> <a href="http://portalverdolaga.com/snapchat" class="fa fa-snapchat-square fa-2x" aria-hidden="true"></a>
  </div>
</div>